
<mat-toolbar color="primary">
  <button routerLink="" (click)="drawer.toggle()"  mat-icon-button>
  <mat-icon>menu</mat-icon>
  </button>
  <span>Card view demo</span>
  <span class="example-spacer"></span>
  <button mat-button>Home</button>
  <button mat-button [matMenuTriggerFor]="lvl1master">Master</button>
  <mat-menu #lvl1master="matMenu">
  <button mat-menu-item>Company</button>
  <button mat-menu-item>Customer</button>
  <button mat-menu-item>Product</button>

  </mat-menu>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened = "false" mode="side">
  <mat-nav-list>
    <mat-list-item>
      <button mat-button> <mat-icon>dashboard</mat-icon> Dashboard</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button> <mat-icon>home</mat-icon> Home</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button> <mat-icon>settings</mat-icon> Settings</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button> <mat-icon>help</mat-icon> Help</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button> <mat-icon>analytics</mat-icon> Analytics</button>
    </mat-list-item>
  </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>





