
<div class="main-content">
  <div fxLayout="row wrap" fxLayoutGap="15px grid" >
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"  *ngFor="let num of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" >
  <mat-card class="mat-elevation-z4 example-card ">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Shiba Inu {{num}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              About Shiba Inu {{num}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="card-content">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
          <div class="button-container">
            <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
              <mat-icon>share</mat-icon>
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
<!--      <mat-card-content>-->
<!--        <p class="card-content">-->
<!--          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--          bred for hunting.-->
<!--        </p>-->
<!--      </mat-card-content>-->

<!--      <div class="button-container">-->
<!--        <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">-->
<!--          <mat-icon>thumb_up</mat-icon>-->
<!--        </button>-->
<!--        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">-->
<!--          <mat-icon>share</mat-icon>-->
<!--        </button>-->
<!--      </div>-->

  </mat-card>
  </div>
  </div>
</div>


